* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: "Lato",serif;
    color: #ebfffc;
}

body {
    text-align: center;
    background-color: rgb(30, 30, 30);
}

.weather-card {
    max-width: 470px;
    background: linear-gradient(135deg, #176087, #1D84B5, #53A2BE);
    border-radius: 25px;
    padding: 40px 35px;
    margin: 100px auto 0;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
   
}

.search button img{
    width: 16px;
}

.search input {
    height:8vmin;
    width: 45vmin;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    padding: 10px 25px;
    margin-right: 16px;
    flex: 1;
    outline: 0;
    color: #555;
    text-align: left;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}

.temp {
    margin-top:5px; 
}

.city {
    
    font-weight: 800;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -25px;
}

.text {
    margin-top: -25px;
}

.wind-speed {
    margin-top: -25px;
}

.weather {
    display: none;
}